html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 auto;
  font-family: "Ysabeau Infant", serif;
}

.container {
  min-height: 100%;
  width: 100%;
  background-color: rgba(167, 194, 95);
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style-type: none; 
  padding: 0;
}

.form_wrapper {   
  background-color: rgba(232, 235, 190, 0.3);
  margin: 20px auto;
  width: 20%;
  min-height: 100%;
  border-radius: 10px;
  color: black;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  padding: 20px; /* Добавлено полей */  
}

.form_title{
  font-family: 'Shantell Sans', sans-serif;
  font-size: 36px;
  text-align: center;
  color: #FBD8D8;
}

.btn_wrapper{
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 80%;
  padding: 15px;
  background: #fff;
  border: 2px solid #dedede;
  border-radius: 10px;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #5b9bd5;
  outline: none;
}

input[type="text"]::placeholder {
  color: #aaa;
  opacity: 1;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 auto;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
}
.btn:focus-visible {
  border: 1px solid #4c51f9;
  outline: none;
}
.btn:hover {
  transition: all 0.2s;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
  background-color: #808080;
}
.btn:disabled {
  background-color: #eee;
  border-color: #eee;
  color: #444;
  cursor: not-allowed;
}

.photo_wrapper{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;  
}

.photo{
  margin: 0;
  padding: 300px 0;
  width: 100%;
  height: 200px;
  background-image: url("../src/1.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;  
}

.love_text_wrapper{
  font-family: 'Shantell Sans', sans-serif;
  font-weight: 600; 
  font-size: 100px;
  color: #FBD8D8;
  align-items: center; 
  margin: 222px auto;
  position: relative;  
}

.female_wrapper{  
  margin-left: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
}

.female{
  margin: 20px auto 0;
}

.heart{ 
  width: 150px;
  height: 150px;
  background-image: url("../src/2.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.heart_fon{
  margin: 20px auto 20px;
  width: 150%;
  height: 600px;
  background-image: url("../src/3.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  transform: rotate(30deg);
  position: absolute;  
  top: 300px;          
  left: -125px;  
}

@media (max-width: 768px) {
  .photo_wrapper {    
    flex-direction: column; /* Изменяем направление на колонку для мобильных устройств */
    align-items: center; /* Центрируем элементы */ 
  }

  .photo {    
    padding: 220px 0px; /* Уменьшаем отступы для мобильных */   
    height: auto; /* Автоматическая высота для улучшения адаптивности */   
    background-position: center; /* Центрируем изображение */
    width: 100%; /* Увеличиваем ширину до 100% */
    
  }  

  .love_text_wrapper { 
    
    position: absolute;  /* Измените на absolute */
    top: 20px;           /* Расположите элемент вертикально */
    right: 20px;         /* Расположите элемент горизонтально */   
    margin: 0 auto;
    font-size: 40px;
  }
  
  .female_wrapper {
    margin-left: 0; /* Убираем отступ для мобильных */
    height: auto; /* Автоматическая высота для лучшего отображения */   
  }

  .female {
    margin: 10px auto 0; /* Уменьшаем отступы для мобильных */
  }

  .heart {
    width: 80px; /* Уменьшаем размер сердца для мобильных */
    height: 80px; /* Уменьшаем размер сердца для мобильных */   
    background-position: center; /* Центрируем изображение */    
  }

  .form_wrapper { 
    width: 80%;
    margin: 20px auto;
  }  
  
}
