@{
    ViewData["Title"] = "";
}

<div class="container">
    <div class="text-center">
       
        <div class="info_wrapper">
            <div class="info">
                <div class="info_title"><p>Дорогие друзья!<p></div>
                <div class="info_descr"><p>Приглашаем стать свидетелями дня рождения нашей семьи, которое состоится<p></div>
                <div class="info_date"><p>17.05. 2025 <p></div>
                <div class="info_where"> <p>Где?</p></div>
               
                <div class="info_address"><p>Тула, п. Рождественский, шатер "Небо"<p></div>
                
                <div class="info_time_question"><p>Во сколько?</p></div>
                
                <div class="info_time_answer">
                    <div class="info_time"> 15.30</div>
                    <div class="info_time_descr">сбор гостей</div>

                    <div class="info_time"> 16.00</div>
                    <div class="info_time_descr">выездная регистрация</div>

                    <div class="info_time"> 16.40</div>
                    <div class="info_time_descr">банкет</div>
                </div>
            </div>
        </div>
        
        
        
        
        <div class="form_wrapper">
            <form action="#" method="post" target="_blank">
                
                <div class="form_title">Анкета</div>
                
                <fieldset>
                    <legend>Назовитесь, для нас это важно</legend>
                    <ul>
                        <li>
                            <label for="name">Ваше имя и фамилия:*</label>
                            <input type="text" name="name" placeholder="Иван Иванов" id="name" required>
                        </li>
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Предпочтение по алкоголю</legend>
                    <ul>
                        <li>
                            <input type="checkbox" name="vodka" id="vodka" checked>
                            <label for="vodka">Водка</label>
                        </li>
                        <li>
                            <input type="checkbox" name="vine" id="vine">
                            <label for="vine">Вино</label>
                        </li>
                        <li>
                            <input type="checkbox" name="whiskey" id="video">
                            <label for="video">Виски</label>
                        </li>
                        <li>
                            <input type="checkbox" name="brandy" id="brandy">
                            <label for="brandy">Коньяк</label>
                        </li>
                        <li>
                            <input type="checkbox" name="beer" id="beer">
                            <label for="beer">Пивасик</label>
                        </li>
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Вы придете?</legend>
                    <ul>
                        <li>
                            <input type="radio" name="preference" id="front" value="frontend" checked>
                            <label for="front">Да, буду обязательно</label>
                        </li>
                        <li>
                            <input type="radio" name="preference" id="back" value="backend">
                            <label for="back">Нет, не смогу</label>
                        </li>
                    </ul>
                </fieldset>
                <div class="btn_wrapper">
                    <button class="btn">Отправить!</button>
                </div>
            </form>
        </div>
        
        <div class="heart_fon"></div>
        
    </div>
</div>


